{% extends 'front/_front-base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block content %}
    <div id="contentContainer">
        <div class="container h-100 form-page">
            <header class="row d-sm-none">
                <div class=" col-12 text-center brand-container">
                    <a class="brand" href="{{ path('home') }}#"><h1 class="logo">SnowTricks</h1></a>
                </div>
            </header>
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-6 h-100 rounded form-container">
                    <h2 class="text-center">Inscription</h2>

                    {% if app.user %}
                        <div class="mb-3">
                            Tu es déjà connecté en tant que {{ app.user.username }}, <a href="{{ path('security_logout') }}">Déconnexion</a>
                        </div>
                    {% endif %}

                    {{ form_start(form) }}
                    <div class="col-12 text-center form-field-error">
                        {{ form_errors(form) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.username) }}
                        {{ form_widget(form.username) }}
                    </div>

                    <div class="form-group">
                        <div class="col-12 text-center form-field-error">
                            {{ form_errors(form.password) }}
                        </div>
                        {{ form_label(form.password.first) }}
                        {{ form_widget(form.password.first) }}
                        {{ form_label(form.password.second) }}
                        {{ form_widget(form.password.second) }}
                    </div>
                    <button class="btn btn-lg btn-block btn-primary" type="submit">Créer mon compte</button>
                    {{ form_end(form) }}

                </div>
            </div>
        </div>

    </div>
{% endblock %}