{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Frontend CSS -->
    <link rel="stylesheet" href="{{ asset("css/style-front.css") }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block header %}
    <header style="position: relative" id="top">
        <div id="NavContainer">

            {% include 'front/_front-nav.html.twig' %}

            <div id="flash-messages-container" class="container-fluid fixed fixed-top-sm justify-content-around">
                <div class="row justify-content-around align-items-baseline">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="col-auto alert-container">
                                <div class="alert alert-{{ label }} alert-dismissible fade show my-1" role="alert">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {%  block headerHero %}{% endblock %}
    </header>

    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Se connecter</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post">
                    <div class="modal-body">
                        <div class="errors">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}
                        </div>

                        <label for="inputEmail">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                        <label for="inputPassword" class="mt-3">Mot de passe</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" required>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >

                        <div class="row text-center mt-4">
                            <div class="col-12 col-md-5"><a href="{{ path('security_registration') }}">S'inscrire</a></div>
                            <div class="col-2 d-none d-md-block"></div>
                            <div class="col-12 col-md-5"><a href="{{ path('security_password_forgot') }}">Mot de passe oublié</a></div>
                        </div>

                        {#
                            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                            See https://symfony.com/doc/current/security/remember_me.html

                            <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" name="_remember_me"> Remember me
                                </label>
                            </div>
                        #}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>

                        <button class="btn btn-primary" type="submit">
                            Se connecter
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascriptsBottom %}
    {{ parent() }}
    <script src="{{ asset('js/frontend.js') }}"></script>
    <script src="{{ asset('js/flash-alerts.js') }}"></script>
{% endblock %}