<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('home') }}#"><h1 class="d-none d-sm-block logo">SnowTricks</h1></a>
    <div class="collapse navbar-collapse" id="frontNavbar">
        <ul class="nav navbar-nav ml-sm-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% if app.request.attributes.get('_route') != 'home' %}{{ path('home') }}{% endif %}#top">
                    <span class="d-none d-sm-inline">Accueil<span class="sr-only">(current)</span></span>
                    <em class="fas fa-home d-sm-none"></em>
                </a>
            </li>
            <li class="nav-item{% if app.request.attributes.get('_route') matches '/^home-tricks-/' %} active{% endif %}">
                <a class="nav-link" href="{% if app.request.attributes.get('_route') != 'home' %}{{ path('home') }}{% endif %}#tricksList" title="Tricks">
                    <span class="d-none d-sm-inline">Tricks</span>
                    <em class="icon trick-icon d-sm-none"></em>
                </a>
            </li>
            {% if app.user %}
            <li class="nav-item dropdown user-tools">
                <a class="nav-link dropdown-toggle" href="#" id="navbarUserDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" title="Tes outils">
                    <img src="/imgs/avatar.png" class="rounded-circle border border-info" alt="Avatar">
                </a>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarUserDropdown">
                    <a class="dropdown-item" href="{{ path('profile') }}">Profile</a>
                    {% if is_granted('ROLE_ADMIN') %}<a class="dropdown-item" href="{{ path('admin') }}">Administration</a>{% endif %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('security_logout') }}">Déconnexion</a>
                </div>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal" title="Connexion / Inscription">
                    <span class="d-none d-sm-inline">Connexion</span>
                    <em class="fas fa-sign-in-alt d-sm-none"></em>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>