{% extends 'front/_front-base.html.twig' %}

{% block content %}
    <div id="contentContainer">
        <article class="container rounded trick-single pb-3">
            <header class="row">
                <div class="d-sm-none col-12 text-center brand-container">
                    <a class="brand" href="{{ path('front_home') }}#"><h1 class="logo">SnowTricks</h1></a>
                </div>
                <div class="col-12 trick-hero p-0 d-flex align-content-center flex-wrap" style="background-image: url('{{ asset('/') }}{% if trick.hero %}uploads/tricks/{{ trick.hero.name }}{% elseif trick.images is not empty %}uploads/tricks/{{ trick.images|first.name }}{% else %}imgs/no-image.png{% endif %}');">
                    <div class="overlay"></div>
                    <h2 class="vertical-align-middle w-100">{{ trick.name }}</h2>
                </div>
            </header>

            {{ form_start(form) }}

            <section class="row my-3 justify-content-center trick-medias" id="trickMedias">
                <div class="col-12 text-center d-md-none">
                    <button class="btn btn-primary view-medias" type="button" data-toggle="collapse" data-target="#mediasList" aria-expanded="false" aria-controls="mediasList">
                        <em class="fas fa-arrow-down "></em> Voir les médias <em class="fas fa-arrow-down"></em>
                    </button>
                </div>
                <div class="collapse col-12 mt-2 d-md-block" id="mediasList">
                    <div class="row p-0 justify-content-center">
                        {% for image in trick.images %}
                            <div class="col-md-2 px-1 image">
                                <img src="{{ asset('uploads/tricks/') }}{{ image.name }}" class="img-fluid">
                                <button type="button" class="d-none d-md-block" href="#" title="Agrandir l'image" data-toggle="modal" data-target="#imageModal" data-index="{{ loop.index0 }}"><em class="fas fa-search-plus"></em></button>
                            </div>
                        {% endfor %}
                        {% for video in trick.videos %}
                            <div class="col-md-2 px-1 video">
                                <div class="embed-responsive embed-responsive-4by3">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ video.name }}?rel=0" allowfullscreen></iframe>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row justify-content-center">
                        <button type="button" class="btn btn-primary mx-1">Ajouter une image</button>
                        <button type="button" class="btn btn-primary mx-1">Ajouter une vidéo</button>
                    </div>
                    <div class="col-12 text-center mt-2 d-md-none">
                        <button class="btn btn-secondary hide-medias" type="button" data-toggle="collapse" data-target="#mediasList" aria-expanded="false" aria-controls="mediasList">
                            <em class="fas fa-arrow-up "></em> Masquer les médias <em class="fas fa-arrow-up"></em>
                        </button>
                    </div>
                </div>
            </section>
            <section>
                <div class="form-group">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.description) }}
                    {{ form_widget(form.description) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.categories) }}
                    {{ form_widget(form.categories) }}
                </div>
            </section>
            <section>
                <button type="submit">Enregistrer</button>
            </section>
            {{ form_end(form) }}
        </article>
    </div>
{% endblock %}

{% block javascriptsBottom %}
    {{ parent() }}
    <script>
        const TrickImgPath = "{{ asset('uploads/tricks/') }}";
        let trickImages = [];
        {% for image in trick.images %}
        trickImages.push("{{ image.name }}");
        {% endfor %}
    </script>
    <script src="{{ asset('js/trick-view.js') }}"></script>
    <script src="{{ asset('js/pagination.js') }}"></script>
{% endblock %}