{% extends 'front/_front-base.html.twig' %}

{% block title %}Snowtricks : {{ trick.name }}{% endblock %}

{% block content %}
    <div id="contentContainer">
        <article class="container rounded trick-single pb-3">
            <header class="row">
                <div class="d-sm-none col-12 text-center brand-container">
                    <a class="brand" href="{{ path('front_home') }}#"><h1 class="logo">SnowTricks</h1></a>
                </div>
                <div class="col-12 trick-hero p-0 d-flex align-content-center flex-wrap" style="background-image: url('{{ asset('/') }}{% if trick.hero %}uploads/tricks/{{ trick.hero.name }}{% elseif trick.images is not empty %}uploads/tricks/{{ trick.images|first.name }}{% else %}imgs/no-image.png{% endif %}');">
                    <div class="overlay"></div>
                    <h2 class="vertical-align-middle w-100">{{ trick.name }}</h2>
                    {% if is_granted('ROLE_ADMIN') or app.user == trick.author %}
                    <div class="row management-btns py-1 rounded">
                        <div class="col-6 text-center edit border-right border-dark">
                            <a href="{{ path('front_tricks-edit', {slug: trick.slug}) }}" title="Modifier le Trick" class="edit-btn"><em class="far fa-edit"></em></a>
                        </div>
                        <div class="col-6 text-center delete">
                            <a href="#" class="delete-btn" data-toggle="modal" data-target="#trickDeleteModal"><em class="far fa-trash-alt"></em></a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </header>
            <section class="row my-3 justify-content-center trick-medias" id="trickMedias">
                <div class="col-12 text-center d-md-none">
                    <button class="btn btn-primary view-medias" type="button" data-toggle="collapse" data-target="#mediasList" aria-expanded="false" aria-controls="mediasList">
                        <em class="fas fa-arrow-down "></em> Voir les médias <em class="fas fa-arrow-down"></em>
                    </button>
                </div>
                <div class="collapse col-12 mt-2 d-md-block" id="mediasList">
                    <div class="row p-0 justify-content-center">
                        {% for image in trick.images %}
                            <div class="col-md-2 px-1 image">
                                <img src="{{ asset('uploads/tricks/') }}{{ image.name }}" class="img-fluid">
                                <button type="button" class="d-none d-md-block" href="#" title="Agrandir l'image" data-toggle="modal" data-target="#imageModal" data-index="{{ loop.index0 }}"><em class="fas fa-search-plus"></em></button>
                            </div>
                        {% endfor %}
                        {% for video in trick.videos %}
                            <div class="col-md-2 px-1 video">
                                <div class="embed-responsive embed-responsive-4by3">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ video.name }}?rel=0" allowfullscreen></iframe>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-12 text-center mt-2 d-md-none">
                        <button class="btn btn-secondary hide-medias" type="button" data-toggle="collapse" data-target="#mediasList" aria-expanded="false" aria-controls="mediasList">
                            <em class="fas fa-arrow-up "></em> Masquer les médias <em class="fas fa-arrow-up"></em>
                        </button>
                    </div>
                </div>
            </section>
            <section class="row p-2 trick-description">
                <p>{{ trick.description|nl2br() }}</p>
            </section>
            <section class="row justify-content-center trick-categories">
                {% for category in trick.categories %}
                    <a href="#" title="Voir les Tricks de la catégorie" class="badge badge-info">{{ category.name }}</a>
                {% endfor %}
            </section>
            <section class="row justify-content-center trick-infos">
                <div class="col-12 col-lg-auto text-center">
                    <span>Auteur : {{ trick.author.username }}</span>
                </div>
                <span class="d-none d-lg-inline">|</span>
                <div class="col-12 col-md-auto text-center">
                    <span>Ajouté le {{ trick.creationDate|date('d/m/Y à H:i:s') }}</span>
                </div>
                {% if trick.editDate %}
                    <span class="d-none d-md-inline">|</span>
                    <div class="col-12 col-md-auto text-center">
                        <span>Modifié le {{ trick.editDate|date('d/m/Y à H:i:s') }}</span>
                    </div>
                {% endif %}
            </section>
            <section class="row justify-content-center trick-messages border-top pt-3 mt-3">
                <div class="col-12 col-xl-7 text-center border-bottom pb-2">
                    {% if is_granted('ROLE_USER') %}
                        <form method="post" action="{{ path('ajax-add-comment') }}" id="commentForm">
                            <textarea name="comment" class="form-control" placeholder="Ton commentaire" aria-label="Ton commentaire"></textarea>
                            <div class="invalid-feedback text-left">
                            </div>
                            <input type="hidden" name="token" value="{{ csrf_token('comment_add_token') }}">
                            <input type="hidden" name="trick" value="{{ trick.id }}">
                            <button class="btn btn-primary mt-2" type="submit">Valider</button>
                        </form>
                    {% else %}
                        <p>Tu dois être connecté pour commenter les tricks.</p>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#loginModal" title="Connexion / Inscription">Se connecter</button>
                    {% endif %}
                </div>
                <div class="col-12 px-0" id="MessageItemsContainer">
                    {% for message in trick.messages(app.request.server.get('COMMENTS_PAGINATION_LENGTH')) %}
                        {% include 'front/message-item.html.twig' %}
                    {% endfor %}
                </div>

                {% if paginate_comments %}
                    <button class="btn btn-primary pagination-btn mt-2" data-target="#MessageItemsContainer" data-entity="message" data-parent-id="{{ trick.id }}">Voir plus</button>
                {% endif %}
            </section>
        </article>
    </div>

    {% if trick.images|length > 0 %}
    <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="imageModalTitle">Trick : {{ trick.name }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img class="img-fluid" src="{{ asset('uploads/tricks/') }}{{ trick.images|first.name }}" alt="Image du Trick">
                    {% if trick.images|length > 1 %}
                    <button type="button" class="nav next" title="Image suivante" data-index="0"><em class="fas fa-chevron-right"></em></button>
                    <button type="button" class="nav prev" title="Image précédente" data-index="0"><em class="fas fa-chevron-left"></em></button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if app.user %}
    <div class="modal fade" id="trickDeleteModal" tabindex="-1" role="dialog" aria-labelledby="trickDeleteModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="trickDeleteModalTitle">Supprimer le Trick</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="errors">
                        <div class="alert alert-warning">Es tu sûr de vouloir supprimer ce Trick ?</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>

                    <form method="post" action="{{ path('front_trick-delete') }}">
                        <input type="hidden" name="trick_id" value="{{ trick.id }}">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('delete-trick') }}">
                        <button type="submit" class="btn btn-danger delete-btn">Supprimer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="messageDeleteModal" tabindex="-1" role="dialog" aria-labelledby="messageDeleteModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="messageDeleteModalTitle">Supprimer le commentaire</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="errors">
                        <div class="alert alert-warning">Es tu sûr de vouloir supprimer ce commentaire ?</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="button" id="deleteCommentBtn" class="btn btn-danger" data-token="{{ csrf_token('comment_delete_token') }}">Supprimer</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}


{% endblock %}

{% block javascriptsBottom %}
    {{ parent() }}
    <script>
        const currentUser = {% if app.user %}{{ app.user.id }}{% else %}null{% endif %};
        const TrickImgPath = "{{ asset('uploads/tricks/') }}";
        let trickImages = [];
        {% for image in trick.images %}
        trickImages.push("{{ image.name }}");
        {% endfor %}
    </script>
    <script src="{{ asset('js/pagination.js') }}"></script>
    <script src="{{ asset('js/trick-view.js') }}"></script>
    <script src="{{ asset('js/trick-delete-modal.js') }}"></script>
{% endblock %}