<article class="col mb-3 mb-md-4 trick-item trick-{{ trick.id }}">
    <div class="card h-100">
        <div class="item-header">
            <a href="{{ path('front_tricks-single', {slug : trick.slug}) }}" title="Voir le trick">
                <img src="{{ trick.heroUrl }}" class="card-img-top" alt="{{ trick.name }}">
            </a>
        </div>
        <div class="card-body">
            <h3 class="card-title mb-0">{{ trick.name }}</h3>
        </div>

        {% if is_granted('ROLE_ADMIN') or app.user == trick.author %}
        <div class="card-footer">
            <div class="row">
                <div class="col-6 text-center edit">
                    <a href="{{ path('front_tricks-edit', {slug: trick.slug}) }}" title="Modifier le Trick" class="edit-btn"><em class="far fa-edit"></em></a>
                </div>
                <div class="col-6 text-center delete">
                    <a href="#" title="Supprimer les Trick" class="delete-btn" data-toggle="modal" data-target="#trickDeleteModal" data-name="{{ trick.name }}" data-id="{{ trick.id }}"><em class="far fa-trash-alt"></em></a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</article>